@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/styles/print.css */

@media print {
  body {
    background: white !important;
  }

  #root {
    margin: 0;
    padding: 0;
  }
  header, 
  button,
  nav,
  aside {
    display: none !important;
  }

  #invoice-print {
    box-shadow: none !important;
    margin: 0 !important;
    width: 100% !important;
  }
}

@page {
    size: A4;
}


